.me-auto {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.r-nav{
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: black;
    display: flex;
    align-items:center;
}

.nav-link-active {
    text-decoration: underline;
    text-decoration-color: #293F14;
    text-underline-offset: 5px;
}