.me-auto{
    font-family: 'Bodoni Moda', serif;
    font-size: 20px;
    font-weight: bolder;
}
/* 
.basic-navbar-nav{
    display: flex;
    justify-content: space-between;
}

.nav-btn{
Background-color: black;
} */


.navbar_cart {
    display: flex;
    align-items: center;
    gap: 20px;
}


/* .nav-cart-count {
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: rgb(209, 15, 15);
    color: white;
} */

