body {
    background-color: white;
    /* For browsers that do not support gradients */
    background-color: rgba(250, 213, 55, .4);
    /* For browsers that do not support gradients */
    background-image: linear-gradient(white, #fdd218);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(250, 213, 55, .4));
    height: 100%;
    min-height: 100vh;
}

main {
    padding: 2%;
    font-family: 'Montaga', serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.info {
    width: 100%;
    max-width: 700px;
    margin: 2% auto;
}

#bundle-form {
    width: 100%;
    padding: 5% 2%;
    text-align: center;
}

#bundle-form div,
#bundle-form Button {
    width: 100%;
    max-width: 700px;
    margin: auto;
    text-align: left;
}

#bundle-form Button {
    text-align: center;
    /* background-color: rgba(31,67,155,255); */
    border: none;
    color: white;
    background-color: #293F14!important
}
