.order-cards {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.card {
    width: 100%;
    max-width: 350px;
    text-align: center;
    margin: 2% auto;
}

.historyImage {
    width: 300px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 15px;
}



.price {
    margin: 30px;
}