.mt-5{
  background-color: white;
}

.arrivals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Bodoni Moda', serif;
  font-weight: 600;
}

.shop-card {
  margin: 2%;
}

.new-info {
  text-align: center;
  margin-top: 0px;
  margin-left: 150px;
  margin-right: 150px;
}

.mt-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Fira Sans', sans-serif;
  background-color: rgba(10, 107, 91, 0.24);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.381);
}

col{
  box-shadow: 5px rgba(0, 0, 0, 0.381);
}

.mt-5 .col{
  margin: 2% auto;

}

.scent_icon{
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

.home-product {
  width: auto;
  height: 300px;
}

.card a {
  text-decoration: none;
  color: white;
}