.arrivals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Bodoni Moda', serif;
  font-weight: 600;
}

.mt-5 {
  font-family: 'Fira Sans', sans-serif;
  background-color: rgba(107, 160, 151, 0.567);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.381);
}
