.cart-item {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  border-bottom: 1px solid #293F14;
  margin-bottom: 2%;
}

.product-info {
  text-align: left;
  margin: auto 0;
}

.cart-item div img {
  width: 100%;
  height: 100%;
  padding: auto;
  border: 1px solid #293F14;
}

#product-options {
  width: 50px;
  height: 60px;
  margin-right: 2%;
}

.trash {
  width: 50px !important;
  height: auto !important;
  border: none !important;
}

.trash:hover {
  cursor: pointer;
  transform: rotate(8deg);
}
