.hero {
    height: 65vh;
    background-image: linear-gradient(rgba(253, 253, 253, 0.099), rgba(50, 50, 50, 0.162)),url("../../assets/hero-background.jpg");
    background-position: center;
    display: flex;
}

.arrow {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;

}