.hero {
    font-family: 'Bodoni Moda', serif;
    height: 65vh;
    background-image: linear-gradient(rgba(253, 253, 253, 0.099), rgba(50, 50, 50, 0.162)),url("../../assets/hero-background.jpg");
    background-position: center;
    display: flex;
    flex-wrap: wrap;
}

.hero-card {
    background-color: rgba(255, 255, 255, 0.278);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.title{
    margin-top: 80px;
    font-size: 25px;
    font-weight: 800;
}

.mb-2{
    font-size: 15px;
    font-weight: 600;
    padding-top: 5px
}

.arrow {
    margin: auto;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
}

.p1 {
    padding-top: 50px;
    padding-top: 25px;
}

p {
    font-size: 15px;
    font-weight: 600;
}

#hero-card-styling {
    margin-top: 0;
    margin: auto !important;
    justify-content: center;
    width: 96%;
    max-width: 450px;
}